* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    box-sizing: border-box;
    color: black;
}

.container{
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    font-weight: 800;
    font-size: 36px;
}

h2 {
    font-weight: 800;
    font-size: 30px;
}

h3{
    font-weight: 800;
    font-size: 26px;
}

h4{
    font-weight: 800;
    font-size: 24px;
}

h5{
    font-weight: 800;
    font-size: 20px;
}

input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px 0px 12px 0px;

    width: 181px;
    height: 41px;

    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;


    color: #BDBDBD;

}

input:focus{
    color: black;
    border: 0;
    border-bottom: 2.5px solid rgba(0, 0, 0, 0.6);
    outline: none;
}

.tombol{
    display: flex;
    background: #04FFA5;
    padding: 13px 97px;
    border-radius: 5px;
    border: 0;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.tombol:hover{
    cursor: pointer;
}

.bi{
    font-size: 24px;
}

.home-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.home-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;

    width: 80%;
    max-width: 563px;
    height: 700px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.home-content-container img{
    width: 45%;
    margin-bottom: 25px;
}

.home-tombol-DiTa-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 0 30px 0px;
    gap: 26px;
}

.dine-in, .take-away{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 0px;
    gap: 10px;
    
    width: 160px;
    height: 62px;
    
    background-color: #04FFA5;
    border-radius: 5px;
}

.take-away{
    background-color: #D9D9D9;
    opacity: 0.5;
}

.home-lanjut{
    margin: 30px 0 0 0px;
    transition: background-color 0.1s ease;
    text-decoration: none;
}

.home-lanjut:hover{
    background-color: #00f39a;
}

.home-lanjut:active{
    background-color: #00ffa2;
}

header{
    background-color: #04FFA5;
    border-radius: 0 0 10px 10px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-container{
    display: flex;
    align-items: center;
    height: 70px;
    
}

header img{
    width: 25%;
    margin-right: 90%;
    color: black;
}

#keranjang{
    position: relative;
    margin-left: auto;
    font-size: 27px;
    padding: 15px;
}

.dot {
    position: absolute;
    left: 30px;
    top: 12px;
    height: 18px;
    width: 18px;
    background-color: rgb(255, 115, 115);
    border-radius: 50%;
    display: inline-block;

    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    margin: auto 0;
    font-style: normal;
    font-weight: 900;
}

.menu-path-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 150px 0px 5px;
    gap: 10px;

    width: 100%;

    border-bottom: 1px solid rgba(0, 0, 0, 0.5);

}

.path{
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 50%;
}

.path:hover{
    cursor: pointer;
}

.menu-path{
    text-decoration: none;
}

.menu-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 120px 0px 75px;
    gap: 10px;
    text-align: center;
}

.menu-search-container{
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 0px 0px 0 20px;
    gap: 10px;

    width: 40%;


    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50px;
}

#search-icon{
    background-color: #04FFA5;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 39px;
}

#input-search{
    width: 100%;
    border-bottom: 0;

}

.makanan-heading{
    opacity: 50%;
    padding-top:75px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.list-makanan{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 60px;
}

.makanan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.kuantitas-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 22px;
}

.inc-qty,.dec-qty{
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 33px;
    height: 33px;
}

.minuman-heading{
    margin-top: 100px;
    opacity: 50%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.list-minuman{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 60px;
    margin-bottom: 100px;
}

.minuman{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}